@import "normalize";

/* start RCABNEY styles */

* {
  box-sizing: border-box;
}

:root {
  --spacing: 1.5rem;
  --sans-serif: "Raleway", sans-serif;
  --serif: "Merriweather", serif;
  --brand-primary: #6c8b6b;
  --primary-text: rgba(0, 0, 0, 0.8);
}

html {
  font-size: 100%;
}

body {
  background-color: #eee;
  color: var(--primary-text);
  line-height: 1.5;
  font-size: 1.125rem;
  font-family: var(--sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif);
  font-weight: 700;
  color: var(--brand-primary);
}

header {
  background-color: #000;
  border-bottom: 4px solid var(--brand-primary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  display: block;
  width: 200px;
}

.logo > a {
  color: #fff;
  text-decoration: none;

  img {
    width: 100%;
    height: auto;
  }
}

.nav-links {
  margin: 0;
  list-style: none;
  display: flex;

  a {
    color: #fff;
    text-decoration: none;
    padding: 0 var(--spacing);

    &:last-child {
      padding-right: 0;
    }
  }
}

.portfolio {
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: var(--spacing);
}

.card {
  min-width: 250px;
  background-color: #fff;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
    color: var(--brand-primary);
    .folio-link {
      color: inherit;
      text-decoration: none;
    }
  }
}

.card > * + * {
  margin-bottom: var(--spacing);
}

.folio-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  align-self: flex-start;
}

.folio-details {
  padding: 2rem;
  padding-bottom: 0;
  background-color: #fff;
  flex: 1;
}

.folio-tags {
  padding: 0 0 1rem 2rem;
  list-style: none;
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 6px;
    color: #fff;
    background-color: #485b48;
  }
}

.footer-content,
.homepage-intro {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

footer {
  color: #fff;
  background-color: #000;
  padding: 2rem;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

article.post,
section.intro,
section.resume {
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing);
  max-width: 75ch;
}

article.post > * + *,
section.resume > * + *,
section.intro > * + * {
  margin-bottom: var(--spacing);
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skillset {
  flex-basis: 50%;
}

@media (max-width: 400px) {
  .skills {
    display: block;
  }
}
